:root {
  --content-width: 1000px;
}

html, body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3rem;
}

h2,h3,h4 {
  margin-top: 2em;;
  margin-bottom: 0.8em;
}
a.plain {
  text-decoration: none;
}
header {
  background-color: #000;
  color: #fff;
  padding: 3rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.nav-bar {
  text-align: left;
  vertical-align: middle;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: aquamarine ;
  }
}


.deno-logo {
  vertical-align: middle;
  height: 2em;
  margin-right: 2rem;
}


header form {
  display: flex;
  justify-content: center;
  align-items: center;
}

header form input {
  width: 60%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}
header form button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
}



main {
  padding: 3rem;
  padding-top: 0rem;
  max-width: var(--content-width);
  margin: 0 auto;
}

.readme {
  padding: 3rem;
  max-width: var(--content-width);
  margin: 0 auto;
}

div.deno-install {
  color: #fff;
  background-color: #000;
  padding: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  img {
    vertical-align: top;
    height: 1.1em;
    margin-right: 0.5rem;
  }
}

code.install {
  background-color: #000;
  color: #fff;
  display: inline-block;
}

code .code-command {

  color: aquamarine;
}

section {
  margin-bottom: 3rem;
}

div.subheader {
  margin-bottom: 1rem;
  background-color: #eee;
  padding: 1rem;
  padding-bottom: 3rem;
  text-align: center;
}

div.subheader p {
  margin: 0.6rem;
  font-size: 1.2rem;
}


ul.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin: 0;
  }
}


